{% load static %}

<html lang="en">
<head>
    <link rel="shortcut icon" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FoodApp{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'food/styles.css' %}">
    {% block script %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm justify-content-around">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'index' %}">My Recipes</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'shopping' %}">Shopping List</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'stock' %}">My Stock</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <span class="badge rounded-pill bg-warning text-dark">{{ user.username }}</span>
                </li>
            {% else %}
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% block body %}
        {% endblock %}   
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>