{% extends "food/layout.html" %}

{% block body %}
    <h2 class="text-center">Register</h2>
    {% if message %}
        <div class="alert alert-warning" style="margin: auto;" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="container-form container d-flex mt-5" >
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
            <div class="mb-3">
                <div>
                    <label for="id_password_confirmation">Password confirmation:</label>
                </div>
                <div>
                    <input type="password" id="id_password_confirmation" name="password_confirmation" maxlength="128" required>
                </div>
            </div>
            <div>
                <input type="submit"  value="Register" >
            </div>
        </form>
    </div>


{% endblock %}